:root {
  --primary-color: rgb(158, 122, 246);
  --secondary-color: rgb(163, 255, 230);
  --primary-op-color: rgba(158, 122, 246, 0.25);
  --secondary-op-color: rgb(163, 255, 230, 0.4);
  --main-font-color: rgb(49, 49, 49);
  --sub-font-color: rgb(107, 107, 107);
}

body {
  font-family: "Poppins", sans-serif;
}

/* --- Container --- */
.main-container {
  color: var(--main-font-color);
  margin: 0 60px;
}

.content-container {
  margin: 0 20px;
}

.margin-b {
  margin-bottom: 6rem;
}

/* --- Header Design --- */
.tl-header-des,
.tr-header-des,
.br-header-des,
.bl-header-des {
  box-shadow: 0px 0px 20px -5px rgb(0 0 0 / 40%);
  position: relative;
  border-radius: 150px 10px 5px;
  padding-top: 32%;
  width: 32%;
}

.full-header-des .tl-header-des,
.full-header-des .br-header-des {
  padding-top: 25%;
  width: 25%;
}

.tl-header-des,
.br-header-des {
  background-color: var(--secondary-op-color);
}

.tr-header-des,
.bl-header-des {
  background-color: var(--primary-op-color);
}

.tl-header-des {
  margin-top: -140px;
  top: 140px;
}

.full-header-des .tl-header-des {
  margin-top: -200px;
  top: 200px;
}

.br-header-des {
  margin-bottom: -230px;
  top: -230px;
  left: 68%;
  transform: rotate(180deg);
}

.full-header-des .br-header-des {
  margin-bottom: -200px;
  top: -200px;
  left: 75%;
}

.tr-header-des {
  margin-top: -140px;
  top: 140px;
  left: 65%;
  transform: scaleX(-1);
}

.bl-header-des {
  margin-bottom: -230px;
  top: -230px;
  transform: scaleX(-1) rotate(180deg);
}

.header-img {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -50px;
  z-index: 1;
  width: 75%;
}

/* --- Heading --- */
.page-main-heading {
  font-size: 64px;
  font-weight: 700;
}

.page-sub-heading {
  color: var(--sub-font-color);
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
}

.important-heading-1 {
  color: var(--primary-color);
}

.important-heading-2 {
  color: var(--secondary-color);
}

.main-heading {
  font-size: 44px;
  font-weight: 600;
}

.sub-heading {
  color: var(--sub-font-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

/* --- Button --- */
.filled-btn,
.bordered-btn {
  border: 1px solid var(--primary-color) !important;
  border-radius: 40px 5px;
  font-size: 22px;
  padding: 15px 35px;
}

.filled-btn,
.btn.bordered-btn:active {
  background-color: var(--primary-color);
  color: white;
}

.bordered-btn,
.btn.filled-btn:active {
  color: var(--primary-color);
}

.filled-btn:hover,
.bordered-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn-txt {
  width: 130px;
}

/* ---------- Navbar ---------- */
.navbar-brand {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}

.navbar-brand:hover {
  color: var(--secondary-color);
}

.navbar-nav {
  font-size: 20px;
}

.navbar-nav .nav-link.active {
  color: var(--secondary-color);
  font-weight: 600;
}

.navbar-nav .nav-link.active::after {
  background-color: var(--primary-op-color);
  border-radius: 50%;
  content: "";
  display: block;
  margin: 0 auto;
  height: 9px;
  width: 9px;
}

.nav-link:hover {
  color: var(--primary-color);
}

/* ---------- Choose Content ---------- */
.choose-img {
  background: linear-gradient(
      135deg,
      rgb(0 0 0 / 90%) -20%,
      rgb(255 255 255 / 0) 80%
    ),
    url(/media/recent-project.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 200px;
  box-shadow: 0px 0px 20px 10px rgb(0 0 0 / 20%);
  height: 600px;
  width: 90%;
}

.choose-img:hover {
  background: linear-gradient(
      315deg,
      rgb(0 0 0 / 90%) -20%,
      rgb(255 255 255 / 0) 80%
    ),
    url(/media/recent-project.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 25px 10px rgb(0 0 0 / 30%);
}

.choose-list {
  font-size: 23px;
  list-style: none;
  padding: 0;
}

.choose-list li {
  color: var(--sub-font-color);
  counter-increment: count;
  display: flex;
  align-items: center;
  text-align: start;
}

.choose-list li::before {
  border-radius: 5px 50%;
  box-shadow: inset 10px 0px 13px 0px rgb(0 0 0 / 20%);
  color: var(--main-font-color);
  content: counter(count);
  display: flex;
  flex-direction: column-reverse;
  font-size: 58px;
  font-weight: 600;
  margin-right: 60px;
  padding-bottom: 15px;
  padding-left: 32px;
  height: 70px;
  width: 70px;
}

.choose-list li:nth-child(odd):before {
  background-color: var(--secondary-color);
}

.choose-list li:nth-child(even):before {
  background-color: var(--primary-color);
}

.choose-list li:nth-child(-n + 9):before {
  content: "0" counter(count);
}

/* ---------- Achievements Content ---------- */
.achieve-card {
  background-color: var(--primary-op-color);
  border: none;
}

.achieve-card-img-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 160px;
  padding: 16px;
}

.achieve-card-img {
  max-height: 100%;
  max-width: 100%;
}

.achieve-card-year {
  color: var(--sub-font-color);
}

.achieve-card-text {
  font-size: 22px;
}

/* ---------- Work Inquiry ---------- */
.inquiry-container {
  background-color: var(--secondary-op-color);
  border-radius: 10px 10px 150px 150px;
  padding: 50px 30px;
  text-align: center;
}

/* ---------- Footer ---------- */
.footer-line {
  border-radius: 10px;
  border-top: 5px solid;
  opacity: 0.1;
}

.footer-logo,
.footer-link {
  color: var(--primary-color);
  font-size: 35px;
}

.footer-logo {
  font-weight: 600;
}

.footer-link {
  margin: 0 3px;
  transition: all 200ms ease-in-out;
}

.footer-link:hover {
  color: var(--secondary-color);
}



/* ---------- Projects Content ---------- */
.project-row {
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.git-link {
  text-decoration: none;
  color: var(--primary-color);
}

.git-link:hover {
  color: var(--secondary-color);
}

.project-card-content {
  background: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 40%)),
    url(/media/ngo-landing-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 20%);
  width: 100%;
  height: 0;
  padding-top: 100%;
  transition: all 200ms ease-in-out;
}

.project-card-content:hover {
  background: url(/media/ngo-landing-page.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project-card-main-heading {
  font-size: 30px;
  font-weight: 600;
  color: white;
  position: relative;
  top: -250px;
}

.project-card-sub-heading {
  color: white;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  top: -240px;
}

.project-btn {
  border: 1px solid white !important;
  color: white;
  position: relative;
  top: -200px;
}

/* ---------- Contact Content ---------- */
.contact-icon {
  color: var(--main-font-color);
  font-size: 35px;
  padding: 10px 10px 10px 0;
}

/* ---------- Responsive ---------- */
@media (width >= 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 16px;
    padding-right: 16px;
  }
  .navbar-expand-md .navbar-nav .last-nav-link {
    padding-right: 0;
  }
}

@media (width < 575px), (768px <= width <= 1024px) {
  .margin-b {
    margin-bottom: 4rem;
  }
  .page-main-heading {
    font-size: 48px;
  }
  .page-sub-heading {
    font-size: 22px;
  }
  .filled-btn,
  .bordered-btn {
    padding: 13px 30px;
  }
  .btn-txt {
    font-size: 17px;
    width: 110px;
  }
  .content-container {
    margin: 0;
  }
  .main-heading {
    font-size: 35px;
  }
  .sub-heading {
    font-size: 21px;
  }
  .choose-list {
    font-size: 18px;
  }
  .choose-list li::before {
    font-size: 45px;
    padding-left: 25px;
    padding-bottom: 10px;
    height: 55px;
    width: 55px;
  }
}

@media (width < 768px) {
  .navbar-container {
    margin-left: 30px;
    margin-right: 30px;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .navbar-nav {
    font-size: 15px;
  }
  .navbar-nav .nav-link.active::after {
    content: none;
  }
  .main-container {
    text-align: center;
  }
  .choose-img-container {
    margin: 0 auto;
    width: 100%;
  }
  .footer-logo,
  .footer-link {
    font-size: 25px;
  }
}
